body {
    background-color: #555;
    color: floralwhite;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px;
}

/* .modal {
    background-color: rgba(0,0,0,0.2);
} */
.modal-header{
    background-color: #333;
}
.modal-body{
    background-color: #333;
}
.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background: #444;
    color: floralwhite;
}

.card {
    background-color: #444;
    color: floralwhite;
    padding: 1rem;
}

.dishcard {
    height: 500px;
}
.cardimage {
    height: 400px;
}
.cardtitle {
    padding: 1rem 0;
    color: floralwhite;
    font-size: large;
}

.media-left{
    width: 20%;
}
.leader_image {
    width: 100%;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.blockquote footer{
    color: floralwhite;
}
.footer{
    background-color: #333;
    color: floralwhite;
}

.navbar-dark{
    background-color: #333;
}

input[type="text"], input[type="password"],textarea{
    background-color: #0f0f0f !important;
    border: none;
}
.page-enter{
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active{
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit{
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active{
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}